@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/*Login Screen*/
body, html {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

html, body {
    overflow-x: hidden;
}

body {
    position: relative;
    background-color: #F7F9FC;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: unset;
}

.col-md-6.full-height {
    height: 100vh;
    /* height: 100% !important; */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

button a {
    color: #fff;
}

.form-col {
    max-width: 530px;
    width: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.form-col h4 {
    font-size: 36px;
    line-height: 44px;
    color: #000000;
}

.form-wrapper label, .form-wrapper input {
    display: block;
    width: 100%;
    font-size: 15px;
    color: #000000;
}

.form-col h4 {
    font-size: 36px;
    line-height: 44px;
    color: #000000;
    margin-bottom: 60px;
    font-weight: 600;
}

.form-wrapper input {
    border: 1px solid #E9EDF3;
    border-radius: 6px;
    padding: 11px 18px 14px 18px;
}

.form-wrapper input:focus {
    outline: none;
}

.form-wrapper {
    margin-bottom: 22px;
}

.form-wrapper input::placeholder {
    color: #A1A1A1;
}

.form-wrapper-bottom.row label {
    color: #BCBCBC;
    font-size: 15px;
    line-height: 26px;
    margin-bottom: 0px;
    padding-top: 10px;
}

button.btn.btn-submit {
    background: #3FABFF;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding: 12px 50px;
}

.form-wrapper-bottom.row .col-md-4 {
    text-align: right;
}

.form-wrapper-bottom.row {
    margin-top: 40px !important;
}

.logo-login {
    position: absolute;
    top: 25px;
    left: 50px;
    z-index: 99;
}

label.reset_text a {
    color: #AAAAAA;
}

label.reset_text {
    color: #000000 !important;
}

input[type="date"] {
    color: #A6B7C4 !important;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(.7);
}

select {
    -o-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/*Create Pages*/
.container-fluid.header_wrapper {
    padding-top: 19px;
    padding-bottom: 19px;
    padding-left: 50px;
    padding-right: 50px;
    background: #fff;
}

.proifle_content {
    display: inline-block;
    cursor: pointer;
}

.proifle_content {
    padding-top: 6px;
}

.proifle_content img {
    width: 32px;
}

.proifle_content span {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding-left: 5px;
    position: relative;
}

.create_area {
    background: #3FABFF;
    /*height: 1024px;*/
}

.create_form_wrapper {
    background: #FFFFFF;
    max-width: 615px;
    width: 100%;
    margin: 0 auto;
    margin-top: 105px;
    border-radius: 10px;
    padding: 30px;
}

.form_header.text-center p {
    color: #5D6F88;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    max-width: 370px;
    margin: 0 auto;
    width: 100%;
    line-height: 21px;
    margin-bottom: 30px;
}

.form_header.text-center h3 {
    color: #3F3B3B;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -.36px;
}

button.btn.btn-block.btn-blue {
    background: #3FABFF;
    color: #fff;
    line-height: 32px;
    font-weight: 700;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.form-wrap-row label, .form-wrap-row input, .form-wrap-row select {
    display: block;
    width: 100%;
    font-size: 14px;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.form-wrap-row input, .form-wrap-row select {
    border: 1px solid #E9EDF3;
    border-radius: 6px;
    padding: 11px 18px 14px 18px;
}

.form-wrap-row select {
    color: #A6B7C4;
}

.form-wrap-row input:focus, .form-wrap-row select:focus {
    outline: none;
}

.form-wrap-row {
    margin-bottom: 22px;
}

.form-wrap-row input::placeholder {
    color: #A6B7C4;
}

button.btn.btn-block.btn-blue {
    background: #3FABFF;
    color: #fff;
    line-height: 32px;
    font-weight: 700;
    font-size: 18px;
    padding: 11px;
}

.create_form_wrapper .form-wrap-row {
    margin-bottom: 20px;
}

button.back_btn {
    color: #E9EDF3;
    background: transparent;
    border: none;
    font-size: 14px;
    font-weight: 400;
    padding-top: 25px;
    position: relative;
}

button.back_btn:focus {
    outline: none;
}

button.back_btn i.back_icon {
    background: url(../img/arrow-narrow-left.svg);
    width: 18px;
    position: absolute;
    left: -25px;
    height: 21px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

i.chevron_down {
    background: url(../img/down.svg);
    width: 8px;
    position: absolute;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    right: -15px;
}

.company_meta {
    display: inline-block;
}

.company_logo {
    border: 1px solid #E9EDF3;
    width: 55px;
    height: 55px;
    text-align: center;
    float: left;
}

.company_logo img {
    max-width: 40px;
    vertical-align: middle;
    width: 100%;
    margin: 7px;
}

p.add_company_logo {
    font-size: 14px;
    color: #A6B7C4;
    display: inline-block;
    margin-left: 15px;
    margin-bottom: 0px;
    text-decoration: underline;
    padding-top: 15px;
}

p.term_conditions {
    margin-bottom: 0;
    padding-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

p.term_conditions a {
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    text-decoration: underline;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

/*Data Table Row*/
.company {
    background: #F7F9FC;
    padding-top: 60px;
    padding-bottom: 100px;
}

.row.company_top {
    margin-bottom: 40px;
}

.row.company_top h3 {
    color: #000000;
    font-size: 36px;
    letter-spacing: -.36px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.co-md-2.col-5.fcol {
    -ms-flex: 0 0 23;
    flex: 0 0 23%;
    max-width: 23%;
}

.co-md-2.col-5.scol {
    -ms-flex: 0 0 18%;
    flex: 0 0 18%;
    max-width: 18%;
}

.co-md-2.col-5.thcol {
    -ms-flex: 0 0 18%;
    flex: 0 0 18%;
    max-width: 18%;
}

.co-md-2.col-5.frcol {
    -ms-flex: 0 0 18%;
    flex: 0 0 18%;
    max-width: 18%;
}

.co-md-2.col-5.fvcol {
    -ms-flex: 0 0 23%;
    flex: 0 0 23%;
    max-width: 23%;
}

.col_content.text-center img {
    position: absolute;
    top: 20px;
    right: 20px;
}

.col_content.text-center {
    background: #FFFFFF;
    padding: 55px 20px;
    border-radius: 3px;
    box-shadow: 0px 3px 9px 3px rgb(233 237 243 / .9);
    position: relative;
    transition: .3s linear all;
}

.company_info_card.row {
    margin-bottom: 70px;
}

.row.data-row {
    background: #FFFFFF;
    border-bottom: 1px solid #E9EDF3;
    padding-top: 22px;
    padding-bottom: 14px;
}

.col_content.text-center h4 {
    color: #3F3B3B;
    font-size: 40px;
    letter-spacing: -.4px;
    line-height: 48px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin-bottom: 0;
}

.col_content.text-center p {
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

.all_deals p {
    color: #3FABFF;
}

.won_deals p {
    color: #26B166;
}

.lost_deals p {
    color: #F56082;
}

button.btn.btn-blue.btn-create {
    background: #3FABFF;
    color: #fff;
    font-size: 15px;
    line-height: 19px;
    padding: 12px 30px;
    font-weight: 500;
}

.btn-red{
    background-color: red !important;
}

i.sort-btn {
    background: url(../img/Icon-Bin.svg);
    width: 25px;
    position: absolute;
    height: 25px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    left: 0;
    top: 5px;
}

button.sort_btn {
    position: relative;
    background-color: transparent;
    border: none;
    width: 30px;
    height: 30px;
    margin-right: 40px;
    display: inline-block;
    transform: translateY(10px);
}

button.sort_btn:focus {
    outline: none;
}

.row.data-row label {
    color: #5D6F88;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

span.pt {
    color: #3F3B3B;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 24px;
    display: block;
}

.co-md-2.col-5.fcol label {
    padding-left: 55px;
    position: relative;
}

.co-md-2.col-5.fcol label input {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 15%;
    top: 50%;
}

.data-table-header {
    margin-bottom: 15px;
}

.data-table-list .row.data-row:first-child {
    border-top: 1px solid #E9EDF3;
}

button.back_btn.project_back {
    margin-left: 20px;
}

button.back_btn.project_back {
    color: #A6B7C4;
}

button.back_btn.project_back i.back_icon {
    background: url(../img/left.svg);
    width: 18px;
    position: absolute;
    left: -20px;
    height: 21px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.row.data-row label {
    margin-bottom: 0px;
}

.row.data-row {
    background: #FFFFFF;
    border-bottom: 1px solid #E9EDF3;
    padding-top: 22px;
    padding-bottom: 17px;
}

.data-table-header label {
    color: #A6B7C4;
    font-size: 12px;
    text-transform: uppercase;
}

.row.data-row label {
    transform: translateY(8px);
}

.data-table-list .co-md-2.col-5.fcol label {
    transform: translateY(0px);
}

.col_content {
    cursor: pointer;
}

.col_content:hover {
    transform: translateY(-3px);
    box-shadow: 0px 3px 9px 3px rgb(93 111 136 / .3);
}

.company_info_card.row .col-md-4 {
    padding: 0px 10px;
}

span.spt {
    color: #A6B7C4;
}

.row.company_top h3 {
    margin-bottom: 0px;
}

button.back_btn.project_back {
    color: #A6B7C4;
    margin-bottom: 5px;
}

.company.clients_area {
    padding-top: 10px;
}

.co-md-2.col-5.fvcol label {
    position: relative;
    width: 100%;
}

span.dots {
    position: absolute;
    background: #959393;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    left: 75%;
    top: 52%;
}

span.dots:after {
    content: "";
    position: absolute;
    background: #959393;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    left: 15px;
    top: 2.4px;
}

span.dots:before {
    content: "";
    position: absolute;
    background: #959393;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    left: -10px;
    top: 2.4px;
}

.login-screen {
    background-color: #fff;
}

.drop_down_menu ul {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0px;
}

.drop_down_menu {
    text-align: left;
    width: 170px;
    position: absolute;
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgb(0 0 0 / 19%);
    right: 0;
    z-index: 99;
    transition: .1s linear all;
    top: 70px;
    opacity: 0;
    z-index: -1;
}

.drop_down_menu.show {
    opacity: 1;
    z-index: 99;
    top: 55px;
}

.drop_down_menu ul li a {
    color: #3F3B3B;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 24px;
    display: block;
    text-decoration: none;
    padding: 5px 0px;
}

select {
    position: relative;
}

select {
    background: url(../img/down.svg);
    background-repeat: no-repeat;
    background-position: center right 10px;
    background-size: 10px;
}

@media screen and (max-width: 767px) and (min-width: 200px) {
    .form-col {
        width: 90%;
    }

    .form-wrapper-bottom.row .col-md-4 {
        text-align: left;
        margin-top: 15px;
    }

    .form-wrapper-bottom.row {
        margin-top: -10px !important;
    }

    .form-col h4 {
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 25px;
    }

    .container-fluid.login-screen-wrapper .row {
        -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    }

    .col-md-6.right-side-bg.full-height {
        height: 30vh;
    }

    .form-col {
        top: 45%;
    }

    .col-md-6.full-height {
        height: 70vh;
    }

    .form-wrapper {
        margin-bottom: 15px;
    }

    .form-wrapper-bottom.row {
        -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
    }

    .row.company_top h3 {
        color: #000000;
        font-size: 30px;
        letter-spacing: -.36px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        text-align: center;
        margin-bottom: 20px !important;
    }

    .company {
        background: #F7F9FC;
        padding-top: 40px;
        padding-bottom: 100px;
    }

    .container-fluid.header_wrapper .col-md-2 {
        width: 50% !important;
    }

    .container-fluid.header_wrapper .col-md-10.text-right {
        width: 49%;
    }

    .company_info_card.row .col-md-4 {
        padding: 0px 10px;
        margin-bottom: 20px;
    }

    .company_info_card.row {
        margin-bottom: 40px;
    }

    .create_area {
        background: #3FABFF;
        height: auto;
        padding-bottom: 60px;
    }

    .create_form_wrapper {
        background: #FFFFFF;
        max-width: 615px;
        width: 100%;
        margin: 0 auto;
        margin-top: 40px;
        border-radius: 10px;
        padding: 30px;
    }

    button.back_btn {
        color: #E9EDF3;
        background: transparent;
        border: none;
        font-size: 14px;
        font-weight: 400;
        padding-top: 25px;
        position: relative;
        margin-left: 30px;
    }

    .form_header.text-center h3 {
        font-size: 30px;
    }

    .data-content-wrapper {
        width: 715px;
    }

    .data-table-responsive {
        overflow-x: scroll;
    }

    .co-md-2.col-5.scol {
        -ms-flex: 0 0 18%;
        flex: 0 0 18%;
        max-width: 18%;
        text-align: center;
    }

    .co-md-2.col-5.fcol label {
        padding-left: 40px;
        position: relative;
    }

    .container-fluid.header_wrapper {
        padding-top: 19px;
        padding-bottom: 19px;
        padding-left: 15px;
        padding-right: 30px;
        background: #fff;
    }

    .row.company_top .col-md-4 {
        -ms-flex: 0 0 35%;
        flex: 0 0 35%;
        max-width: 35%;
    }

    .row.company_top .col-md-8.text-right {
        -ms-flex: 0 0 65%;
        flex: 0 0 65%;
        max-width: 65%;
    }

    button.sort_btn {
        position: relative;
        background-color: transparent;
        border: none;
        width: 30px;
        height: 30px;
        margin-right: 15px;
        display: inline-block;
        transform: translateY(10px);
    }

    .row.company_top h3 {
        color: #000000;
        font-size: 30px;
        letter-spacing: -.36px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        text-align: center;
        margin-bottom: 0px !important;
        margin-top: 10px;
    }

    .create_form_wrapper .form-wrap-row .col-md-6:last-child {
        padding-top: 20px;
    }

    .form-wrap-row label {
        padding-bottom: 0px;
    }

    .col-md-6.pt-x {
        padding-top: 18px;
    }

    .form-wrap-row.row.pb-x {
        margin-bottom: 22px;
    }

    .logo-login {
        width: 50%;
        top: 18px !important;
        left: 24px;
    }

    .container-fluid.header_wrapper .dashboardlogo {
        top: 7px !important;

    }

    .container-fluid.header_wrapper .dashboardlogo img {
        width: 100%;
    }

    .logo-login img {
        width: 100%;
    }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
    .co-md-2.col-5.fvcol {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }

    .co-md-2.col-5.fcol {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .co-md-2.col-5.scol {
        -ms-flex: 0 0 17%;
        flex: 0 0 17%;
        max-width: 17%;
    }

    .col_content.text-center img {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 40px;
    }

    .container-fluid.header_wrapper {
        padding-top: 19px;
        padding-bottom: 19px;
        padding-left: 25px;
        padding-right: 30px;
        background: #fff;
    }

    .form-col {
        width: 90%;
    }

    button.btn.btn-submit {
        padding: 10px 20px;
    }

    .form-col h4 {
        font-size: 36px;
        line-height: 44px;
        color: #000000;
        margin-bottom: 50px;
        font-weight: 600;
    }

    .logo-login .row .col-md-6 {
        -ms-flex: 0 0 100% !important;
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }

    .col-md-6.full-height {
        height: 55vh;
        /* height: 100% !important; */
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: cover;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .container-fluid.login-screen-wrapper .row {
        -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    }

    .col-md-6.right-side-bg.full-height {
        height: 45vh;
    }

    .form-col {
        max-width: 530px;
        width: 100%;
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 40%;
    }
}

@media screen and (max-width: 1100px) and (min-width: 992px) {
    .form-col {
        width: 90%;
    }

    button.btn.btn-submit {
        padding: 12px 35px;
    }

    .form-col h4 {
        font-size: 36px;
        line-height: 44px;
        color: #000000;
        margin-bottom: 50px;
        font-weight: 600;
    }
}

.error {
    color: red !important;
}